html,
body {

  margin: 0;
  padding: 0;
}
/*
Global section
*/
.forecast {
  background-color: #171918;

  min-height: 120vh;
  padding-top: 100px;

  /* overflow: auto; */
  overflow: hidden;
  /* display: flex;
  flex-direction: column; */
  position: relative;
  display: block;
}
/*
Main title - forecast
*/
.forecast__title {
  font-size: 200px;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.02);
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
  margin-left: -10px;
  opacity: 0;
  transform: translateX(-10%);
  transition: opacity 2s ease, transform 2s ease;
}
.forecast__title.visible {
  opacity: 1;
  transform: translateX(0);
  z-index: 9;
}

.forecast__container {
  position: relative;
}
.forecast__subtitle {
  position: absolute;
  top: -0.3em;
  left: 9.5em;
  margin: 0;
  color: #fff;
  font-size: 80px;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
}
.forecast__subtitle:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 1px;
  background-color: #4af6cd;
}
/*
Title current location
*/
.forecast__current-location {
  position: relative;
  right: 5em;
  top: -10em;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: end;
  opacity: 0;
  transform: translateX(10%);
  transition: opacity 2s ease, transform 2s ease;
}

.forecast__current-location.visible {
  opacity: 1;
  transform: translateX(0);
}
.forecast__current-location__title {
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33px;
  opacity: 0.5;
  /* padding-left: 103px; */
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  margin: 0;
}
.forecast__current-location__city,
.forecast__current-location__country {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
  font-family: "Fira Sans", sans-serif;
}
.forecast__current-location__details {
  display: flex;
  align-items: center;
}
.forecast__current-location__separator {
  font-size: 40px;
  font-weight: 100;
}
.forecast__current-location__city {
  padding-right: 10px;
}
.forecast__current-location__country {
  padding-left: 10px;
}

/*
World map 
*/
.test {
  position: relative;
}
.forecast__map-image {
  /* position: absolute;
  

  max-width: 100%;

 
  left: 50%;
  transform: translateX(-50%);

 
  top: 80%;
  transform: translate(-50%, -10%); */

  width: 100%;
  height: auto;
  display: block;
}
.forecast__map-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.test {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*
Dot in the map 
*/
.forecast__location-dot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #4af6cd;
  -webkit-box-shadow: 0px 0px 35px 0px rgba(74, 246, 205, 0.8392156863);
  box-shadow: 0px 0px 35px 0px rgba(74, 246, 205, 0.839215686);
  position: absolute;

  opacity: 0;

  left: 41.33%;
  top: 39.24%;
  transform: translate(-50%, -50%);
}

.forecast__location-dot.visible {
  opacity: 1;
  animation: bounce 0.5s ease both 1s;
}

/*
Spot details on the map
*/

.forecast__spot-description {
  background-color: rgba(15, 16, 16, 0.7);
  border-radius: 6px;
  width: 285px;
  height: 232px;
  padding: 28px 32px 0 32px;

  position: absolute;

  opacity: 0;
  right: 61em;
  z-index: 99;
  left: 42.33%;
  top: 16.24%;
  transform: translate(-50%, -50%);
}

.forecast__spot-description.visible {
  opacity: 1;
  transition: opacity 2s ease 1.2s;
}

.forecast__spot-details {
  display: flex;
  justify-content: space-between;
}

.forecast__spot-details__icon-wave,
.forecast__spot-details__icon-wind,
.forecast__spot-details__icon-water,
.forecast__spot-details__icon-swell {
  width: 30px;
  padding-top: 15px;
}
.forecast__spot-details__icon-water {
  width: 23px;
}

.forecast__spot-description__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  padding-bottom: 8px;
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: "Fira Sans", sans-serif;
  position: relative;
}
.forecast__spot-description__title:before {
  content: "";
  width: 80px;
  height: 1px;
  background-color: #4af6cd;
  position: absolute;
  bottom: 0;
  left: 0;
}

.forecast__spot-description__subtitle {
  margin: 0;
  line-height: 19px;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
}
.forecast__spot-details__wave-info,
.forecast__spot-details__wind-info,
.forecast__spot-details__water-info,
.forecast__spot-details__swell-info {
  display: flex;
  flex-direction: column;
}
.forecast__spot-details__wave-value,
.forecast__spot-details__wind-value,
.forecast__spot-details__water-value,
.forecast__spot-details__swell-value {
  margin-top: 7px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 800;
  font-family: "Fira Sans", sans-serif;
}
.forecast__spot-details__wave-label,
.forecast__spot-details__wind-label,
.forecast__spot-details__water-label,
.forecast__spot-details__swell-label {
  margin-top: 4px;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
}

/*
Placeholder image on the map
*/

.forecast__image-container {
  display: flex;
  justify-content: end;
  position: absolute;
  right: -15em;
}

/*
Spot image with content
*/

.forecast__spot-container {
  height: 100%;
  position: relative;
left:10%;
  top: -35em;
  opacity: 0;
  transform: translateY(5%);
  transition: opacity 1s ease 1.1s, transform 1s ease 1.1s;
  padding: 0 30px;
  /* left: x; */
  display: flex;
  flex-direction: column;

  /* position: absolute;
  right: 61em;
  left: 15.33%;
  top: 49.24%; */

 
 
}
.forecast__spot-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.forecast__spot-container h3 {
  /* padding: 72px 0 0 40px; */
  padding: 22px 0 0 40px;
  font-size: 40px;
  line-height: 36px;
  font-weight: 800;
  width: 140px;
  text-transform: uppercase;
  font-family: "Fira Sans", sans-serif;
  position: absolute;
  margin: 0 auto;
  padding: 0 auto;
}
.forecast__spot-image {
  width: 369px;
  min-height: 650px;
  width: 350px;
  min-height: 350px;
  object-fit: cover;
}

.forecast__spot-location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: rotate(-90deg);
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 8px;

  transform: rotate(-90deg);
  position: absolute;
  top: 23em;
  left: 60px;
  width: 0;
  height: 0;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

.forecast__spot-separator {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  white-space: nowrap;
  font-weight: 100;
}

/*
Spot tips content
*/
.forecast__spot-tips,
.forecast__spot-forecast {
  width: 369px;
}
.forecast__spot-tips__title,
.forecast__spot-forecast__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  padding: 8px 0;
  margin: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Fira Sans", sans-serif;
}

.forecast__spot-tips__content {
  font-size: 13px;
  line-height: 26px;
  font-weight: 300;
  padding-bottom: 8px;
  margin: 0;
  margin-bottom: 8px;
  opacity: 0.6;
  font-family: "Fira Sans", sans-serif;
  text-align: justify;
}

.forecast__spot-tips__header,
.forecast__spot-forecast__header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.forecast__spot-tips__icon,
.forecast__spot-forecast__icon {
  width: 22px;
  height: 22px;
  opacity: 0.5;
  transform: rotate(225deg);
  margin-left: 30px;
  cursor: pointer;
}

/* Keyframe for the bounce effect */
@keyframes bounce {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}
