.home__date-text {
  font-size: 50px;
  line-height: 64px;
  font-weight: 800;
  margin-bottom:20px;
}

.home__details {
  color: #727375;
}

.home__month,
.home__year {
  font-family: "Fira Sans", sans-serif;

  font-size: 12px;
  line-height: 14px;
  font-weight: 800;
  letter-spacing: 1.05px;
  text-transform: uppercase;
}
.home__year {
  padding-left: 19px;
}
.home__date {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 25%;
  bottom: 2em;
}
