.home__subtitle {
  width: auto;

  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-bottom: 30px;
}

.home__subtitle-title {
  font-size: 32px;
  line-height: 32px;

  color: hsl(0, 0%, 62%);

  display: inline-block;
  text-transform: uppercase;
}

.home__subtitle-title--surf,
.home__subtitle-title--condition {
  letter-spacing: 7.33px;
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 14px;
  width: 300px;
}

.home__subtitle-location,
.home__subtitle-status {
  /* line-height: 86px; */
  font-weight: 800;
  /* margin-bottom: 48px; */
  color: rgba(255, 255, 255, 1);
  font-size: 50px;
  letter-spacing: normal;

  padding: 0;
}
.home__subtitle-status span,
.home__subtitle-location span {
  display: block;
  line-height: 1;
}

.home__subtitle-location {
  font-size: 50px;
  animation: fadeInLeft 1.8s both ease;
}
.home__subtitle-status {
  font-size: 50px;
  animation: fadeInRight 1.8s both ease;
}

.home__subtitle-item {
  display: flex;
  flex-direction: column;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;

    transform: translate3d(-10%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;

    transform: translate3d(10%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 769px) {
  .home__subtitle-location,
  .home__subtitle-status {
  }
}
@media (min-width: 1100px) {
  .home__subtitle-location,
  .home__subtitle-status {
    font-size: 80px;
  }
  .home__subtitle-title--surf,
  .home__subtitle-title--condition {
    font-size: 22px;
  }
}
