.home__zigzagline{
    position:absolute;
    /* top:0;
    right:2em; */
    height:auto;
    top:17em;

    right:20em;
    transform: rotate(-25deg)
    /* transform: rotate(-90deg);
    transform-origin: left bottom; */
}
